fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
asyncpg
alembic
python-multipart
aiofiles
websockets
pymupdf
python-docx
faiss-cpu
sentence-transformers
groq
langgraph
langchain-core
openai-whisper
torch
coqui-tts[codec]
reportlab
pyjwt[crypto]
argon2-cffi
email-validator
