fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
sqlalchemy
asyncpg
alembic
python-multipart
aiofiles
websockets
pymupdf
python-docx
chromadb
groq
langgraph
langchain-core
openai-whisper
torch
coqui-tts[codec]
reportlab
ffmpeg-python
faster-whisper
pyjwt[crypto]
argon2-cffi
email-validator
pydub
